[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,
      XXX,

[MESSAGES CONTROL]

disable=
  # Disable because ~ is used in a lot of hail code where it is not an error
  invalid-unary-operand-type,
  unused-wildcard-import,
  R,
  C,
